.zagolovok{
    background-color: darkblue;
    color: skyblue;
    display: block;
    font-size: 30px;
    margin: 0;
    padding: 0;

    }
body{
    margin: 0;
    padding: 0;

}
.gl{
    padding-left: 80px;
    }
.st{
    color: black;
    font-weight: bold;
    background-color: white;
}
li {
    display: inline-block;
    list-style-type: none; /* Убираем маркеры */
    padding: 10px;
   }
   
   .gl:hover {
       color: khaki;
   }
   .st:hover {
    color: khaki;
}
.fo:hover {
    color: khaki;
}
.kon:hover {
    color: khaki;
}
.q{
    text-decoration: none;
    color: black;

}

.sylki{
    padding: 0px;
}