.headline{
    background-color: darkblue;
    color: skyblue;
    display: block;
    font-size: 20px;
    margin: 0;
    padding: 0;

    }
body{
    margin: 0;
    padding: 0;
}

.st{
    color: black;
    font-weight: bold;
    background-color: white;
}

li {
    display: inline-block;
    list-style-type: none; /* Убираем маркеры */
    padding: 10px;
    margin-left: 30px;
   }
   
   li:first-child{
       margin-inline-start: 100px;
   }

   .st:hover {
    color: khaki;
       }

.link{
    padding-left: 0px;
    margin-top: 0px;
}

.non-active{
    text-decoration: none;
    color: black;
}

a {
    margin-left: 0px;}

    
h1{
    margin-inline-start: 100px;
    color: #848887;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 1px 0 1px rgb(250, 248, 248), 
0 1px 1px rgb(250, 249, 249), 
-1px 0 1px rgb(121, 118, 118), 
0 -1px 1px rgb(92, 90, 90);
}

.box-top{
    margin-inline-start: 100px;
}

.first{
    float:left; /* Выравнивание по левому краю */
    margin: 7px 19px 0px 0; /* Отступы вокруг картинки */
    width: 446px;
}
.right{
    font-size: large;
}

p{
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 7px;
}
