.headline {
    background-color: darkblue;
    color: skyblue;
    display: block;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: arial;
    
}

.active {
    color: black;
    font-weight: bold;
    background-color: white;
}

li {
    display: inline-block;
    list-style-type: none;
    /* Убираем маркеры */
    padding: 10px;
    margin-left: 30px;
}

li:first-child {
    margin-inline-start: 100px;
}

.active :hover {
    color: khaki;
}

.headline li:hover {
background-color: ivory;
color: black;
}

.link {
    padding-left: 0px;
    margin-top: 0px;
}


.non-active {
    text-decoration: none;
    color: black;
}

a {
    margin-left: 0px;
}

h1 {
    margin-inline-start: 100px;
    color: #848887;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
   
}

.box-top {
    margin-inline-start: 100px;
    border:5px #dee2e2  ridge; 
    width:1000px; 
    height: 708px;
    padding-left: 10px;
}

.img {
    float: left;
    /* Выравнивание по левому краю */
    margin: 7px 19px 0px 0;
    /* Отступы вокруг картинки */
    width: 446px;
    padding-left: ;
}

.right {
    font-size: 16px;
    margin-top: 14px;
    /* Отступ сверху */
    margin-bottom: 7px;
    font-weight: bold;
}

.middle {
    padding-left: ;
    padding-right: 10px;
    margin-top: 14px;
    font-size: 16.8px;
}

h2 {
    padding-left: ;
    margin-bottom: 3px;
}

.name {
    border-left: none;
    text-align: right;
    vertical-align: top;
    padding-right: 0px;
    font-weight: bold;
}

.presents {
    border-right: none;
}

table {
    border: none;
    padding-left: ;
    padding-right: 10px;
    font-family: arial;
}  

.admin {
    text-decoration: none;
    color: turquoise;
    
}
.avtor {
    font-style: italic;
    text-align: right;
    margin-right: 187px;
    margin-top: 2px;
}

.comment7 {
    margin-left: 100px;
    color: rgb(201, 192, 192);
    margin-bottom: 0px;
}
.line-comment-top {
    margin-left: 100px;
    margin-right: 190px;
    margin-top: 0px;
}

.comments {
    margin-left: 100px;

}

.grisha {
    margin-left: 257px;
    color: rgb(240, 15, 45);
}

.vert-line-big {
    border-left:3px solid rgb(153, 156, 158);
    padding-left:35px;
}

.vladimir {
    margin-left: 260px;
    color: rgb(240, 15, 45);
}

.vert-line-small {
    border-left:1px solid rgb(153, 156, 158);
    padding-left:35px;
}

.tanya {
    margin-left: 245px;
    color: rgb(240, 15, 45);
}

.kuznec {
    margin-left: 270px;
    color: rgb(240, 15, 45);
}

.line-comment-bottom {
    margin-left: 100px;
    margin-right: 190px;
    margin-top: 20px;
}

h3 {
    margin-left: 100px;

}

.form {
    margin-left: 100px;
}
.nameform {
    margin-left: 34px;
}

.text {
    margin-left: 25px;
    

}
.text input{
    width: 280px;
    height: 70px;
}

label {
    font-weight: bold  ;
    margin-right: 10px;
}

input {
    margin-bottom: 18px;
}

.sex {
    margin-left: 80px;
}

.nameform input{
    width: 275px;
}

.ageform input{
    width: 60px;
}

.star{
    color: red;
    display: inline;
}
.agreement {
    margin-left: 100px;
}
.agree {
    margin-bottom: 0px;
}
.send {
    margin-left: 400px;
}
.button-send {
    height: 30px;
    width: 105px;
}